@font-face {
	src:url(..//fonts/Corporative_Alt_W00_Book.ttf);
	font-family: corporative;
	}

* /*universal selector*/, html, body
{
	margin:0;
	padding:0;
}

.site-header
{
	background-color: #373737;
	height: 95px;
	line-height: 50px;  /*height of the line in the header*/
	position: fixed;
	z-index: 1;
	width: 100%;
	box-shadow: 0px 0px 17px 0px;
}

header nav ul li a /* individual menu elements*/
{
	padding-right: 30px;
	color: #f4f4f4;
	font-size: 15px;
	font-weight: bold;
	
}

header nav ul li a:hover
{
	text-decoration: none;
	color: #c0b283;
	transition: all 0.5s ease-in;	
}

/*About us starting*/
h2
{
	text-align: center;
	font-size: 40px;

}

.heading-area
{
	padding-top: 120px;
	color: black;
}
.line
{	text-align: center;
	position: relative;

}



.line:before
{
	content:"";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -3%;
	width:6%;
	height: 1px;
	background-color: black;
	z-index: 1;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;

}

.line:hover:before
{
	width: 24%;
	margin-left: -12%;
}

.line:after /*puts the line after the text and puts the grey line*/
{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -12%;
	width: 24%;
	height: 1px;
	background-color: #e1e1e1;
}

.line p
{
	color: #818181;
	display: inline-block;
	padding: 0px 0px 20px;
	position: relative;
	line-height: 24px;
	letter-spacing: 0.025em;
}

.fullclass .goBack
{
	position: relative;
	padding: 100px 0px;
	text-align: center;
	background: #f4f4f4;
	margin-top: -20px;
}

.writeup
{
	padding-top:50px;
	padding-left: 60px;
	padding-right: 60px;
	text-align: center;
	text-align: justify;
	font-size:15px;
	line-height: 2;
}

/*Back button*/

.goBack
{
	font-size: 14px;
	color: #373737; /*icon color*/ 
	background: #f4f4f4;
	box-shadow: 0px 0px 0px 1px black;
	padding:10px;
	width: 50%;
	margin-top: 10px;
}

.goBack:hover
{
	text-decoration:none;
	font-weight:bold;
	transition: all 0.5s ease-in;	
}

@font-face {
	src:url(..//fonts/marvel.ttf);
	font-family: marvel;
	}


.subtitle {
	text-align: center;
	font-size: 50px;
	font-family: marvel;

}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

@media screen and (max-width: 800px) {
    .switch { display: flex; flex-flow: column; }
    #one{ order: 2; }
    #two { order: 1; }
}
